.nav-item.dropdown.no-arrow .dropdown-toggle::after {
  display: none;
}

.d-none.d-sm-block.topbar-divider {
  width: 0;
  border-right: 2px solid #1cc88a;
  height: 1.4rem;
  margin-top: -52px;
  margin-left: 2px;
}

@media (max-width: 768px) {
  .navbar-collapse {
    position: fixed;
    top: 57px;
    left: 0;
    padding-left: 20px;
    padding-right: 63px;
    padding-bottom: 15px;
    height: 100%;
    background: rgb(221,220,220);
  }
}

@media (max-width: 768px) {
  .navbar-collapse.collapsing {
    height: 100%;
    left: -75%;
    transition: height 0s ease;
  }
}

@media (max-width: 768px) {
  .navbar-collapse.show {
    height: 100%;
    left: 0;
    transition: left 400ms ease-in-out;
  }
}

@media (max-width: 768px) {
  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 400ms ease-in;
  }
}

@media (max-width: 768px) {
  .form-inline.d-none.d-sm-inline-block.mr-auto.ml-md-3.my-2.my-md-0.mw-100.navbar-search {
    display: none !important;
  }
}

.scroll-to-top:hover {
  background: #5a5c69 !important;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: #fff;
}

.scroll-to-top:hover {
  background: #5a5c69;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: #fff;
}

.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: #fff;
  background: rgba(90,92,105,.5);
  line-height: 46px;
}

.card.dashboard-details-card {
  margin-bottom: 10px;
  border-left: 3px solid #007bff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.text-decoration-none {
  text-decoration: none;
}

.list-group-item.sidebar-list-item {
}

.sidebar-list-item-link {
}

.sidebar-list-group {
}

.text-primary.m-0.font-weight-bold.sidebar-card-header {
  color: rgb(255,255,255) !important;
}

.menu-btn {
}

.login-topbar a {
  background: #FD6933;
  border-radius: 23px;
  padding: 5px 18px !important;
  color: #fff !important;
  margin-top: 5px;
}

.toggle-btn {
  padding: 4px 11px;
  font-size: 11px;
  margin-left: -90px;
}

.admin-btn {
  margin-top: 25px;
  background: rgb(0,123,255);
  padding: 5px 13px;
  border-radius: 12px;
  color: #fff;
  margin-bottom: -5px;
}

@media (max-width: 300px) {
  .side-div-for-space {
    display: none;
  }
}

@media (max-width: 576px) {
  .side-div-for-space {
    display: none;
  }
}

@media (max-width: 576px) {
  .col-md-2.sidebar {
    display: none;
  }
}

@media (max-width: 300px) {
  .col-md-2.sidebar {
    display: none;
  }
}

@media (max-width: 768px) {
  .col-md-2.sidebar {
    display: none;
  }
}

.card.exam-card {
  border-left: 3px solid blue;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  .text-center.remaining-text {
    font-size: 18px !important;
  }
}

.nav-item.login-topbar.btn.mobile-nav-styles-li.mobile-nav-login {
}

@media (max-width: 576px) {
  .nav-item.login-topbar.btn.mobile-nav-styles-li.mobile-nav-login a {
    background: rgb(48,45,45) !important;
    font-size: 13px;
    padding: 5px 20px;
  }
}

.mobile-logout a {
  background: rgb(210,73,73) !important;
  font-size: 13px;
  padding: 5px 20px;
}

.see-more {
  background: rgb(58,207,154);
  padding: 4px 20px;
  font-size: 15px;
  color: #fff;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 5px;
  box-shadow: 2px 3px 2px rgba(160,166,162,0.56);
}

.see-more:hover {
  text-decoration: none;
  color: #000;
  background: #fff;
  border: 1px solid #000;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .nav-item.btn.menu-btn.btn-small.mobile-nav-styles-li {
    padding: 0;
  }
}

@media (max-width: 576px) {
  .nav-item.dropdown.no-arrow.btn.mobile-nav-styles-li.d-mobile-none {
    display: none;
  }
}

@media (min-width: 768px) {
  .card.user-mobile-card {
    display: none;
  }
}

@media (min-width: 768px) {
  .nav-item.login-topbar.btn.mobile-nav-styles-li.mobile-logout {
    display: none;
  }
}

